<div class="container">
  <form name="calculator">
    <table>
      <tr>
        <td colspan="4">
          <input type="text" name="display"[(ngModel)]="display" disabled />
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="button"
            name="one"
            value="1"
            (click)="appendNumber('1')"
          />
        </td>
        <td>
          <input
            type="button"
            name="two"
            value="2"
            (click)="appendNumber('2')"
          />
        </td>
        <td>
          <input
            type="button"
            name="three"
            value="3"
            (click)="appendNumber('3')"
          />
        </td>
        <td>
          <input
            type="button"
            class="operator"
            name="plus"
            value="+"
            (click)="setOperator('+')"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="button"
            name="four"
            value="4"
            (click)="appendNumber('4')"
          />
        </td>
        <td>
          <input
            type="button"
            name="five"
            value="5"
            (click)="appendNumber('5')"
          />
        </td>
        <td>
          <input
            type="button"
            name="six"
            value="6"
            (click)="appendNumber('6')"
          />
        </td>
        <td>
          <input
            type="button"
            class="operator"
            name="minus"
            value="-"
            (click)="setOperator('-')"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="button"
            name="seven"
            value="7"
            (click)="appendNumber('7')"
          />
        </td>
        <td>
          <input
            type="button"
            name="eight"
            value="8"
            (click)="appendNumber('8')"
          />
        </td>
        <td>
          <input
            type="button"
            name="nine"
            value="9"
            (click)="appendNumber('9')"
          />
        </td>
        <td>
          <input
            type="button"
            class="operator"
            name="times"
            value="x"
            (click)="setOperator('*')"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="button"
            class="operator"
            id="clear"
            name="clear"
            value="C"
            (click)="clear()"
          />
        </td>
        <td>
          <input
            type="button"
            class="operator"
            name="zero"
            value="0"
            (click)="appendNumber('0')"
          />
        </td>
        <td>
          <input
            type="button"
            class="operator"
            name="doit"
            value="="
            (click)="calculate()"
          />
        </td>
        <td>
          <input
            type="button"
            class="operator"
            name="div"
            value="/"
            (click)="setOperator('/')"
          />
        </td>
      </tr>
    </table>
  </form>
</div>
